# backaups
*[~#]

# http://www.gnu.org/software/automake

Makefile.in
Makefile
/COPYING
/INSTALL

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.guess
/config.log
/config.status
/config.sub
/config.h
/config.h.in
/stamp-h1
/puttle-*.*.*.tar.gz
/puttle-*.*.*.tar.bz2

# libtool
libtool
ltmain.sh

# Compiled Object files
*.slo
*.lo
*.o
.deps

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# puttle
src/puttle
tests/tests
src/.libs

# Astyle backups
*.h.orig
*.cpp.orig

tags
/src/tags
